<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.home_page_pic = "<%= image_url('home_page_photo.png') %>";
</script>

<main id="root"></main>
