.header-nav {
  border-bottom: 1px solid #ccc;
  height: 60px;
  font-size: 13px;
  margin: 0 auto;
}

.header-items {
  float: right;
  text-transform: uppercase;
}

.header-nav-item:hover {
  background-color: #eee;
}

.header-nav-item-c:hover {
  background-color: #eee;
}

.header-nav-item-logo:hover {
  background-color: #eee;
}

.header-nav-item-logo {
  float: left;
  padding: 16px 22px;
  font-size: 24px;
  color: #8B008B;
  cursor: pointer;
  border-right: 1px solid #eee;
}

.header-nav-item {
  float: left;
  padding: 23px 22px;
  cursor: pointer;
  border-left: 1px solid #eee;
}

.header-nav-item-c {
  float: left;
  padding: 23px 22px;
  color: #23b0fd;
  border-left: 1px solid #eee;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
}

.header-nav-item.user-name {
  position: relative;
}

.header-nav-item.user-name:hover .profile-dropdown {
  display: block;
  position: absolute;
  right: -1px;
  top: 60px;
  border: 1px solid #ccc;
  text-transform: none;
  width: 230px;
  font-size: 14px;
  background-color: #fff;
  z-index: 1;
}

.prof-dropdown-b {
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
}

.prof-dropdown-b:hover {
  background-color: #ccc;
}
