.header-nav {
  border-bottom: 1px solid #ccc;
  height: 3.8rem;
  font-size: 0.8rem;
}

.header-nav img {
  height: 20px;
  width: 20px;
  float: left;
  margin-top: 22px;
  margin-left: 20px;
}

.header-nav input {
  margin-top: 13px;
  margin-left: 18px;
  height: 40px;
  width: 300px;
  font-size: 16px;
  float: left;
}

.header-nav-item {
  border-left: 1px solid #eee;
  cursor: pointer;
  float: left;
  padding: 23px 22px;
}

.header-nav-item:hover {
  background-color: #eee;
}

.header-nav-item.logo {
  border-right: 1px solid #eee;
  color: #8B008B;
  cursor: pointer;
  float: left;
  font-size: 1.5rem;
  padding: 16px 22px;
}

.header-nav-item.create {
  float: left;
  padding: 23px 22px;
  color: #23b0fd;
  border-left: 1px solid #eee;
  cursor: pointer;
}

.header-nav-item.user-name {
  position: relative;
}

.header-items {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.nav-dropdown-item {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.nav-dropdown-item:hover {
  background: #eee;
}

.header-nav-item.user-name .nav-dropdown {
  display: none;
}

.header-nav-item.user-name:hover .nav-dropdown {
  background: white;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 2;
}


