.additional-settings {
  display: block;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
}

.topics {
  display: block;
  height: auto;
  width: 100%;
}

.additional-settings h3 {
  font-size: 1rem;
  margin-top: 2.5rem;
}

.topic-select {
  background-color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 1rem;
  height: 2.19rem;
  padding: 0.4rem;
  width: 35%;
}

.topic-select option {
  font-size: 1rem;
}

.sub-topic {
  bottom: 0;
  left: 25rem;
  position: absolute;
}

.sub-topic-select {
  background-color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 1rem;
  height: 2.19rem;
  padding: 0.4rem;
  width: 20.13rem;
}
