.category-selector {
  width: 80%;
  height: 3.12rem;
  display: block;
  margin: 8.89rem auto 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.category-selector h3 {
  padding: 1rem 0;
  color: #1E90FF;
  font-size: 1rem;
}

.category-selector h3:hover {
  cursor: pointer;
  color: #00CED1;
}

.all-categories {
  margin: 0.6rem 0;
}

.all-categories h4 {
  background-color: #fff;
  padding: 0.4rem 0;
}

.non-active {
  color: #1E90FF;
  background-color: #fff;
}

.non-active h4 {
  padding: 0.4rem 0;
}

.non-active:hover {
  cursor: pointer;
  color: #00CED1;
}