.previews-container {
  float: left;
  margin: 6rem 0 0 3rem;
}

.previews-container h3 {
  font-size: 2rem;
  text-align: center;
}

.preview-location {
  color: #666666;
  font-size: 0.8rem;
  margin: 0.3rem 0.6rem 0 0;
}

.bookmark-prev-cover {
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  line-height: 0.5em;
  position: absolute;
  right: 17px;
  top: 28px;
  width: 1.5em;
  z-index: 1;
}

.bookmark-prev-cover:after {
  content: "";
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-top-width: 10px;
  font-size: 0.5em;
  height: 0px;
  position: absolute;
  right: 0;
  top: -1em;
  z-index: -1;
}