.show-page {
  background-color: #F5F5F5;
  height: 56.25rem;
  position: relative;
  width: 100%;
}

.show-page-bg {
  background-image: image-url("event_show_bg.png");
  background-size: cover;
  height: 31.25rem;
  width: 100%;
}

.show-template {
  background-color: #fff;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  height: auto;
  left: 50%;
  margin-left: -32.9rem;
  position: absolute;
  top: 2.5rem;
  width: 66rem;
}

.image-and-info {
  border-bottom: 1px solid #ccc;
  display: block;
  height: 21.9rem;
  width: 66rem;
}

.event-img {
  height: 21.88rem;
  float: left;
  width: 43.75rem;
}

.title-date-host-price-container {
  background-color: #eee;
  float: right;
  height: 21.8rem;
  width: 22.19rem;
}

.bookmark-register {
  border-bottom: 1px solid #ccc;
  display: block;
  height: 3.75rem;
  position: relative;
  width: 65.94rem;
}

.bookmark {
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  left: 0px;
  line-height: 0.5em;
  position: absolute;
  top: 36px;
  transition: line-height 0.5s;
  -webkit-transition: line-height 0.5s;
  width: 1.5em;
  z-index: 1;
}

.bookmark:after {
  border: 7px solid #1E90FF;
  border-bottom-color: transparent;
  border-top-width: 15px;
  content: "";
  font-size: 0.5em;
  height: 0px;
  position: absolute;
  right: 0;
  top: -1em;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  z-index: -1;
}

.bookmark-cover {
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  left: -2px;
  line-height: 0.5em;
  position: absolute;
  top: 38px;
  -webkit-transition: line-height 0.5s;
  width: 1.5em;
  transition: line-height 0.5s;
  z-index: 1;
}

.bookmark-cover:after {
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-top-width: 10px;
  content: "";
  font-size: 0.5em;
  height: 0px;
  position: absolute;
  right: 0;
  top: -1em;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  z-index: -1;
}

.bookmark-cover-false {
  display: none;
}

.ticket-submit {
  background-color: #228B22;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 0.9rem;
  margin-top: 0.5rem;
  padding: 0.75rem 8.44rem;
}

.ticket-submit:hover {
  background-color: #008000;
}

.t-d-h-p-container-list {
  color: #696969;
  padding: 1.56rem 1.86rem;
  position: relative;
}

.t-d-h-p-month {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.t-d-h-p-day {
  font-size: 1.1rem;
  padding: 3px 5px;
}

.t-d-h-p-title {
  color: #000;
  font-size: 1.88rem;
  font-weight: bold;
  height: 8.75rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.t-d-h-p-author {
  bottom: 0;
  position: absolute;
}

.pricing {
  bottom: -3.75rem;
  position: absolute;
}

.description-date-loc {
  display: block;
  height: auto;
  width: 100%;
}

.info-left {
  display: block;
  float: left;
  width: 60%;
}

.description-info-list {
  font-size: 1rem;
  padding: 1.25rem 6.875rem;
  width: 6.25rem;

}

.d-i-description {
  display: block;
  height: auto;
  width: 25rem;
}

.info-right {
  display: block;
  float: right;
  width: 40%;
}

.info-right section {
  display: block;
  float: left;
  margin-left: 5rem;
  margin-top: 1.25rem;
  width: 100%;
}

.info-right info {
  display: block;
  margin-top: 0.4rem;
  width: 18.75rem;
}

.bottom-info-section {
  margin-bottom: 2rem;
}

