.event-create-page {
  background-color: #F5F5F5;
  width: 100%;
}

.c-e-form {
  display: block;
  height: 37.5rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  padding-top: 1.25rem;
  width: 57.5rem;
}

.header-container-c-e {
  position: relative;
}

.c-e-errors-top {
  color: red;
  left: 24.69rem;
  position: absolute;
  top: 1.25rem;
}

.event-create-page header {
  margin: 0 auto;
  width: 65rem;
}

.event-create-header {
  float: left;
  font-size: 2.13rem;
  font-weight: bold;
  margin-top: 2.5rem;
}

.header-e-create-submit {
  background-color: #228B22;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.95rem;
  margin-top: 1.88rem;
}

.header-e-create-submit:hover {
  background-color: #008000;
}

.header-form-divider {
  background-color: #000;
  display: block;
  float: left;
  height: 1px;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  width: 100%;
}

.create-event-form {
  border-top: 1px solid #ccc;
  display: block;
  float: left;
}

.form-step {
  background-color: #1E90FF;
  color: #fff;
  float: left;
  font-size: 2rem;
  margin-right: 0.6rem;
  padding: 0.5rem 1.5rem;
}

h3.form-section-header {
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -2px;
  padding-top: 5.44rem;
}

.field-header {
  display: block;
  float: left;
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  margin-top: 1.25rem;
  width: 100%;
}

.c-e-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: block;
  float: left;
  padding: 0.63rem;
  width: 43.75rem;
}

.time-headers {
  display: block;
  float: left;
  font-weight: bold;
  margin-top: 2.5rem;
  width: 100%;
}

.time-header-l {
  float: left;
}

.time-inputs {
  float: left;
}

.time-header-r {
  float: left;
  margin-left: 13rem;
}

.c-e-item-time {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-right: 1.69rem;
  margin-top: 0.4rem;
  padding: 0.4rem;
  width: 14.38rem;
}

.image-container {
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
  height: 12.5rem;
  margin-top: 0.63rem;
  width: 25rem;
}

.e-i {
  margin-top: 2.5rem;
}

.image-area {
  border: 2px dashed #ccc;
  height: 90%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 95%;
}

.image-area li {
  list-style: none;
}

.image-area:hover {
  border: 2px dashed #1E90FF;
}

.image-thumb {
  display: block;
  margin-top: 1.25rem;
  text-align: center;
}
.image-header {
  color: #1E90FF;
  font-size: 1.35rem;
  margin-top: 1.25rem;
  text-align: center;
}

.image-text {
  color: #aaa;
  font-size: 0.75rem;
  text-align: center;
}

.c-e-descript {
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #ccc;
  float: left;
  margin-bottom: 2.5rem;
  padding: 0.63rem;
}

.ta {
  margin-bottom: 0.75rem;
}

.footer-container-c-e {
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: block;
  float: left;
  height: 14.44rem;
  margin-top: 5rem;
  position: relative;
  width: 100%;
}

.create-event-header {
  display: block;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 3.7rem;
  text-align: center;
}

.footer-e-create-submit {
  background-color: #228B22;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0.95rem;
  font-weight: bold;
  margin: 1.25rem auto;
  padding: 0.95rem 1.25rem;
}

.footer-e-create-submit:hover {
  background-color: #008000;
}

.c-e-errors-bot {
  color: red;
  bottom: 3.75rem;
  display: block;
  float: left;
  left: 8.44rem;
  position: absolute;
}

.image-file-input {
  cursor: pointer;
  height: 11.25rem;
  opacity: 0;
  position: absolute;
  width: 23.75rem;
}

.img-preview {
  height: 11.25rem;
  width: 23.75rem;
}

.disp-none {
  display: none;
}

.img-none {
  display: none;
}

.img-absolute {
  height: 11.25rem;
  margin-top: 2.5rem;
  width: 23.75rem;
}

.c-e-form-header-2 {
  border-bottom: 1px solid #ccc;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.form-section-header-middle {
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.75rem 0 0 0;
  padding: 0;
}

.ticket-pricing {
  display: block;
  float: left;
  height: 12.5rem;
  width: 100%;
}

.ticket-pricing h4 {
  font-size: 1.13rem;
  margin-bottom: 2.5rem;
  margin-left: 0.4rem;
  margin-top: 2.5rem;
  text-align: center;
}

.pricing-buttons {
  text-align: center;
  width: 100%;
}

.free-button {
  background-color: none;
  border: 2px solid #4682B4;
  color: #4682B4;
  cursor: pointer;
  font-weight: bold;
  margin-left: 3.125rem;
  margin-right: 2.5rem;
  padding: 0.4rem 0.95rem;
  transition: background-color 0.5s;
}

.free-button:hover {
  background-color: #4682B4;
  color: #fff;
  transition: background-color 0.5s;
}

.priced-button {
  background-color: none;
  border: 2px solid #4682B4;
  color: #4682B4;
  cursor: pointer;
  font-weight: bold;
  margin-right: 2.5rem;
  padding: 0.4rem 0.95rem;
  transition: background-color 0.5s;
}

.priced-button:hover {
  background-color: #4682B4;
  color: #fff;
  transition: background-color 0.5s;
}

.freeEls h4 {
  color: #aaa;
  font-size: 1rem;
  margin: 1.88rem 0 0 0.4rem;
}

.pricedEls {
  display: block;
  margin-top: 1.55rem;
  position: relative;
  width: 100%;
}

.pricedEls input {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 1.88rem;
  margin-left: 0.45rem;
  width: 11.875rem;
}

.c-e-form-header-3 {
  border-bottom: 1px solid #ccc;
  display: block;
  height: auto;
  float: left;
  width: 100%;
}

.form-section-header-bot {
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.75rem 0 0 0;
  padding: 0;
}
