.previews-container {
  width: 1100px;
  height: auto;
  display: block;
  height: auto;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 27px;
}

.previews-container h3 {
  text-align: center;
  font-size: 32px;
  padding-right: 12px;
}

.previews-alignment {
  width: 100%;
  height: auto;
  display: block;
  height: auto;
  float: left;
}

.preview-location {
  font-size: 13px;
  margin-right: 10px;
  margin-top: 5px;
  color: #666666;
}

.bookmark-prev-cover {
  position: absolute;
  top: 28px;
  right: 17px;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 1.5em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}

.bookmark-prev-cover:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 0px;
  border: 5px solid #fff;
  z-index: -1;
  top: -1em;
  border-top-width: 10px;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}