.show-page {
  background-color: #F5F5F5;
  height: 900px;
  width: 100%;
  position: relative;
}

.show-page-bg {
  background-image: url("event_show_bg.png");
  height: 500px;
  width: 100%;
  background-size: cover;
}

.show-template {
  width: 1055px;
  height: auto;
  background-color: #fff;
  position: absolute;
  left: 150px;
  top: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.image-and-info {
  width: 1055px;
  height: 350px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.event-img {
  width: 700px;
  height: 350px;
  float: left;
}

.title-date-host-price-container {
  width: 355px;
  height: 349px;
  background-color: #eee;
  float: right;
}

.bookmark-register {
  width: 1055px;
  height: 60px;
  display: block;
  border-bottom: 1px solid #ccc;
}

.bookmark {
  float: left;
  padding: 20px 30px;
}

.ticket-submit {
  float: right;
  margin-top: 8px;
  margin-right: 14px;
  background-color: #228B22;
  padding: 12px 135px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.ticket-submit:hover {
  cursor: pointer;
  background-color: #008000;
}

.t-d-h-p-container-list {
  padding: 25px 30px;
  color: #696969;
  position: relative;
}

.t-d-h-p-month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.t-d-h-p-day {
  font-size: 18px;
  padding: 3px 5px;
}

.t-d-h-p-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: #000;
  margin-bottom: 20px;
}

.t-d-h-p-author {
  position: absolute;
  bottom: 0;
}

.pricing {
  position: absolute;
  bottom: -60px;
}

.description-date-loc {
  width: 100%;
  display: block;
  height: auto;
}

.info-left {
  width: 60%;
  display: block;
  float: left;

}

.description-info-list {
  padding: 20px 110px;
  font-size: 16px;
  width: 100px;

}

.d-i-description {
  width: 400px;
  display: block;
  height: auto;
}

.info-right {
  width: 40%;
  display: block;
  float: right;
}

.info-right section {
  display: block;
  float: left;
  width: 100%;
  margin-left: 80px;
  margin-top: 20px;
}

.info-right info {
  display: block;
  margin-top: 5px;
  width: 300px;
}
