.event-update-header-time {
  float: left;
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 15px;
  color: #aaa;
}

.header-update-button {
  float: right;
  padding: 15px;
  border: 2px solid #4682B4;
  color: #4682B4;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  background-color: none;
  transition: background-color 0.5s;
}

.header-update-button:hover {
  cursor: pointer;
  background-color: #4682B4;
  color: #fff;
  transition: background-color 0.5s;
}

.bottom-update-button {
  float: right;
  padding: 15px 20px;
  border: 2px solid #4682B4;
  color: #4682B4;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  margin-right: 140px;
  margin-bottom: 40px;
  background-color: none;
  transition: background-color 0.5s;
  display: block;
}

.bottom-update-button:hover {
  cursor: pointer;
  background-color: #4682B4;
  color: #fff;
  transition: background-color 0.5s;
}
