.browse-page {
  background-color:	#f8f8fa;
  height: 100%;
  width: 100%;
}

.browse-content {
  display: block;
  width: 65.5rem;
  height: auto;
  margin: 0 auto;
}

.browse-content aside {
  float: left;
  display: block;
  width: 25%;
  height: 19rem;
}

.events {
  float: right;
  display: block;
  width: 75%
}

.events h2 {
  margin: 3.2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.events ul {
  width: 100%;
}

.each-event {
  margin-top: 0.5rem;
  border-radius: 2px;
}

.event-top-bar {
  display: block;
  height: 6.3rem;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.event-top-bar img {
  width: 12.5rem;
  height: 6.3rem;
  float: left;
}

.event-top-bar ul {
  padding-top: 1rem;
  height: 100%;
}

.event-top-bar li {
  padding: 0.5rem 0 0 13.8rem;
}

.top-li {
  font-size: 1rem;
  text-transform: uppercase;
}

.events-index-title {
  font-weight: bold;
}

.events-index-location {
  font-size: 0.8rem;
  color: #aaa;
}

.event-bottom-bar {
  background-color: #fff;
  width: 100%;
  height: 2.2rem;
  display: block;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.index-pricing {
  float: left;
  width: 11.9rem;
  padding: 0.6rem 0 0.6rem 0.65rem;
  font-size: 0.9rem;
  background-color: #eee;
}

.index-bookmark {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 1.5em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}

.index-bookmark:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 0px;
  border: 7px solid #1E90FF;
  z-index: -1;
  top: -1em;
  border-top-width: 15px;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.index-bookmark-cover {
  position: absolute;
  top: 23px;
  right: 22px;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 1.5em;
  line-height: 0.5em;
  -webkit-transition: line-height 0.5s;
  transition: line-height 0.5s;
}

.index-bookmark-cover:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 0px;
  border: 5px solid #fff;
  z-index: -1;
  top: -1em;
  border-top-width: 10px;
  border-bottom-color: transparent;
  right: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.index-bookmark-cover-false {
  display: none;
}