.home-search-container {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: -70px;
}

.home-search {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 100%;
  background-color: red;
  opacity: 0.9
}
