.home-search-container {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: -70px;
}

.home-search {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 100%;
  background-color: #fff;
  opacity: 0.96;
  text-align: center;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
}

.home-search h2 {
  padding-top: 40px;
  font-size: 40px;
  color: #8B008B;
}

.home-search nav {
  padding-top: 30px;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.home-search input {
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 9px 20px;
  width: 270px;
  opacity: 1;
}

.home-search button {
  background-color: #8B008B;
  transition: background-color 0.5s;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px 40px;
  letter-spacing: 0.2px;
}

.home-search button:hover {
  cursor: pointer;
  background-color: #8A2BE2;
  transition: background-color 0.5s;
}
