.homepage-search {
  position: absolute;
  bottom: -95px;
  left: 10%;
  display: block;
  width: 80%;
  height: 200px;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.homepage-search h2 {
  padding-top: 40px;
  font-size: 40px;
  color: #8B008B;
}

.homepage-search input {
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-top: 2rem;
  padding: 9px 20px;
  width: 270px;
  opacity: 1;
}

.homepage-search button {
  background-color: #8B008B;
  transition: background-color 0.5s;
  color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px 40px;
  letter-spacing: 0.2px;
}

.homepage-search button:hover {
  cursor: pointer;
  background-color: #8A2BE2;
  transition: background-color 0.5s;
}
