.manage-events-page {
  background-color:	#f8f8fa;
  height: 100%;
  width: 100%;
}

.manage-main {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 66.375rem;
}

.manage-events-div {
  display: block;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  margin-bottom: 3.75rem;
  margin-top: 2.1875rem;
  width: 79%;
}

.manage-main h2 {
  font-size: 2.12rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
  margin-top: 2.12rem;
}

.manage-events-container {
  border-top: 1px solid #ccc;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.manage-events-container li {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: block;
  float: left;
  height: auto;
  margin-top: 0.6rem;
  width: 100%;
}

.manage-events-container li h3 {
  color: #4682B4;
  display: block;
  margin: 0px;
  padding: 0.95rem 0 0.4rem 0.63rem;
}

.manage-events-container li h3:hover {
  color: #1E90FF;
}

.manage-event-time {
  color: #aaa;
  display: block;
  float: left;
  height: auto;
  padding-left: 0.63rem;
  width: 100%;
}

.management-links {
  color: #aaa;
  display: block;
  font-size: 0.9rem;
  float: left;
  height: auto;
  padding: 0.95rem 0 0.63rem 0.95rem;
  width: 100%;
}

.management-links a {
  padding-right: 0.95rem;
}

.management-links a:hover {
  color: #1E90FF;
  text-decoration: underline;
}

.e-m-modal-b {
  cursor: pointer;
}

.manage-modal-header {
  display: block;
  font-size: 1.375rem;
  text-align: center;
}

.warning {
  color: red;
  display: block;
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.delete-buttons {
  text-align: center;
  width: 100%;
}

.delete-buttons button {
  padding: 0.63rem 1.25rem;
}

.really-delete {
  background-color: none;
  border: 2px solid red;
  color: red;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1.56rem;
  transition: background-color 0.5s;
}

.really-delete:hover {
  background-color: red;
  color: #fff;
  transition: background-color 0.5s;
}

.delete-cancel {
  background-color: none;
  border: 2px solid #4682B4;
  color: #4682B4;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s;
}

.delete-cancel:hover {
  background-color: #4682B4;
  color: #fff;
  transition: background-color 0.5s;
}
