.ticket-modal {
  display: block;
  height: 100%;
  width: 100%;
}

.ticket-modal header {
  background-color: #F5FFFA;
  border-bottom: 1px solid #eee;
  display: block;
  height: 15%;
  text-align: center;
  width: 100%;
}

.ticket-modal header h2 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0.75rem;
}

.ticket-modal main {
  display: block;
  height: auto;
  margin-bottom: 3.13rem;
  width: 100%;
}

.ticket-options {
  display: block;
  box-sizing: border-box;
  height: 60%;
  margin: 0;
  padding-left: 1.25rem;
  width: 100%;
}

.ticket-options h3 {
  font-size: 1rem;
  margin: 0;
  padding-left: 1.25rem;
  padding-top: 0.95rem;
}

.ticket-options h4 {
  color: #aaa;
  font-size: 0.95rem;
  margin: 0;
  margin-bottom: 0.6rem;
  padding-left: 1.88rem;
  padding-top: 0.4rem;
}

.ticket-quantity {
  bottom: 1.75rem;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 1.25rem;
}

.ticket-option  {
  border-top: 1px solid #eee;
  border-left: 6px solid #4682B4;
  border-right: 4px solid #4682B4;
  display: block;
  margin-right: 1.25rem;
  margin-top: 1.875rem;
}

.t-o-top-bar {
  display: block;
  border-bottom: 1px solid #ccc;
  height: 60%;
  position: relative;
  width: 100%;
}

.t-o-bot-bar {
  border-bottom: 1px solid #eee;
  height: 1.875rem;
  display: block;
  width: 100%;
}

.t-o-bot-bar article {
  float: right;
  font-size: 15px;
  padding: 0.5rem 1rem 0 0;
  color: #2F4F4F;
}

.ticket-modal footer {
  background-color: #F5FFFA;
  border-top: 1px solid #eee;
  display: block;
  height: 15%;
  width: 100%;
}

.ticket-modal footer article {
  float: left;
  font-size: 0.95rem;
  padding: 1.25rem 0 0 0.95rem;
}

.total-price {
  margin-left: 2.5rem;
}

.footer-button-div {
  float: right;
  margin: 0.625rem 0.94rem 0 0;
}

.footer-button-div button {
  background-color: #228B22;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  font-size: 0.95rem;
  font-weight: bold;
}

.footer-button-div button:hover {
  background-color: #008000;
}
