.user-saved-events {
  background-color: #f5f8fb;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.user-saved-events main {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 80%;
}

.each-saved-event {
  background-color: #fff;
  float: left;
  height: 19.4rem;
  margin: 1.25rem 0.95rem;
  width: 30%;
}

.each-saved-event img {
  display: block;
  height: 10.63rem;
  width: 100%;
}

.saved-main-info {
  border-bottom: 1px solid #eee;
  display: block;
  height: 6.25rem;
  width: 100%;
}

.saved-main-info article {
  margin-left: 15px;
}

.saved-time {
  color: #4d4d4d;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  padding-top: 0.6rem;
  text-transform: uppercase;
}

.saved-title {
  font-size: 1rem;
  font-weight: bold;
}

.saved-location {
  color: #666666;
  font-size: 0.8rem;
  margin-right: 0.6rem;
  margin-top: 1.5rem;
}

.bookmark-bar {
  display: block;
  border-bottom: 0.4rem solid #ccc;
  height: 2.5rem;
  position: relative;
  width: 100%;
}

.bookmark-saved {
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  line-height: 0.5em;
  position: absolute;
  right: 15px;
  top: 26px;
  transition: line-height 0.5s;
  -webkit-transition: line-height 0.5s;
  width: 1.5em;
  z-index: 1;
}

.bookmark-saved:after {
  border: 7px solid #1E90FF;
  border-bottom-color: transparent;
  border-top-width: 15px;
  content: "";
  font-size: 0.5em;
  height: 0px;
  position: absolute;
  right: 0;
  top: -1em;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  z-index: -1;
}
