.users-events {
  display: block;
  height: auto;
  width: 100%;
}

.users-events header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  height: auto;
  width: 100%;
}

.users-events h2 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  height: auto;
  margin-bottom: 1.9rem;
  margin-top: 2.5rem;
  text-align: center;
  width: 100%;
}

.u-e-header {
  font-size: 0.9rem;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.u-e-tab {
  color: #696969;
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0.6rem;
  padding-top: 2.5rem;
  width: 15%;
}

.u-e-tab:hover {
  color: #1E90FF;
}

.u-e-tab-active {
  border-bottom: 3px solid #1E90FF;
  color: #696969;
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0.6rem;
  padding-top: 2.5rem;
  width: 15%;
}

.u-e-tab-active:hover {
  color: #1E90FF;
}

.u-e-tab li {
  height: 100%;
  width: 100%;
}

.user-events-bottom {
  background-color: #f7f7ff;
  display: block;
  float: left;
  height: auto;
  width: 100%;
}

.each-ticket {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 50%;
}

.ticket {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  float: left;
  height: auto;
  margin: 0.63rem;
  width: 100%;
}

.ticket-left img {
  height: 6.25rem;
  padding: 0.63rem;
  width: 12.5rem;
}

.ticket-left {
  float: left;
}

.ticket-right {
  float: left;
  margin-left: 0.31rem;
  margin-top: 1.25rem;
}

.start-date {
  color: #0d1419;
  font-size: 0.95rem;
  margin-bottom: 0.95rem;
  text-transform: uppercase;
}

.ticket-p-title {
  font-weight: bold;
}

.ticket-purchase {
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 0.95rem;
}
