<!DOCTYPE html>
<html>
  <head>
    <title>EventNite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  "https://fonts.googleapis.com/css?family=Julius+Sans+One",  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
